<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ADMIN ACCG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Visualização</h1>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/admin-accg/" class="btn btn-info">Voltar</a>
</div>

<div class="col-8 m-auto pt-4 pb-2 text-center">
    <strong>Nome: </strong>{{db.nome}}<br>
    <strong>Tipo: </strong>{{db.tipo}}<br>
    <strong>Sexo: </strong>{{db.sexo}}<br>
    <strong>Idade: </strong>{{db.idade}}<br>
    <strong>Descrição: </strong>{{db.descricao}}<br>
    <strong>Castrado: </strong>{{db.castrado}}<br>
    <strong>Vacinado: </strong>{{db.vacinado}}<br>
    <strong>Vermifugado: </strong>{{db.vermifugado}}<br>
    <strong>(GATO)FIV: </strong>{{db.fiv}}<br>
    <strong>(GATO)FELV: </strong>{{db.felv}}<br>
    <strong>Porte: </strong>{{db.porte}}<br>
    <strong>URL Imagem: </strong>{{db.url_imagem}}<br>
</div>
</body>
</html>