<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Animal</title>
    <link rel="icon" href="{% static '/img/logocaoegato.favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Animal</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/admin-accg/" class="btn btn-info">Voltar</a>
    </div>

        <div class="col-8 m-auto pt-4 pb-2 text-center">
   <form name="form" id="form" action="/admin-accg{% if db %}/atualizar/{{db.id}}/{%else%}/create/{% endif %}" method="post">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <div class="form-group mt-4">Nome: {{form.nome}}</div>
        <div class="form-group mt-4">Idade: {{form.idade}}</div>
        <div class="form-group mt-4">Descricao: {{form.descricao}}</div>
        <div class="form-group mt-4">Castrado: {{form.castrado}}</div>
        <div class="form-group mt-4">Vacinado: {{form.vacinado}}</div>
        <div class="form-group mt-4">Vermifugado: {{form.vermifugado}}</div>
        <div class="form-group mt-4">FIV: {{form.fiv}}</div>
        <div class="form-group mt-4">FELV: {{form.felv}}</div>
        <div class="form-group mt-4">Sexo: {{form.sexo}}</div>
        <div class="form-group mt-4">Tipo: {{form.tipo}}</div>
        <div class="form-group mt-4">Porte: {{form.porte}}</div>
        <div class="form-group mt-4">Url Imagem: {{form.url_imagem}}</div>

        <input type="submit" class="btn btn-success" value="Salvar">
    </form>
</div>
</body>
</html>