{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro animais</title>
    <link rel="stylesheet" href="{% static '/css/filtro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <header>
        <a href="/">
            <img src="{%static '/img/logocaoegato.png'%}"/>
        </a>
    </header>


    <section class="container">

        <h1>Nossos animais</h1>
            <form method="get" action="/filtro">
            <div class="select-row">
                <select name="tipo" id="tipo">
                    <option value="">Cão e Gato</option>
                    <option value="Cachorro">Cão</option>
                    <option value="Gato">Gato</option>
                </select>
                <span class="title"></span>

                <select name="sexo" id="sexo">
                    <option value="">Ambos</option>
                    <option value="M">Macho</option>
                    <option value="F">Femea</option>
                </select>
                <span class="title2 title"></span>

                <select name="porte" id="porte">
                    <option value="">Todos</option>
                    <option value="Grande Porte">Grande porte</option>
                    <option value="Médio Porte">Médio porte</option>
                    <option value="Pequeno Porte">Pequeno porte</option>
                </select>
                <span class=" title3 title"></span>
                <!--Aqui tem que carregar os animais com os filtros correspondentes-->
                <button class="btn-search">Buscar</button>
            </div>
            </form>
            <div class="fotos-animais">
                {% for dbs in db %}
                <a href="/animal/{{dbs.id}}/">
                    <div class="card-animal">
                        <div class="foto-animal">
                            <img src="{{dbs.url_imagem}}"/>
                        </div>
                        <div class="nome-animal">
                            <p>{{dbs.nome}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
    </section>

    <footer>
        <a href="#" class="logo"><img src="{% static 'img/logocaoegato.png' %}" alt="Logo"/></a>
        <div class=" footer-col-links">
            <a href="/filtro">Quero adotar</a>
            <a href="/help" target="_blank">Como ajudar</a>
            <a href="/" target="_blank">Quero apadrinhar</a>
            <a href="login.html" target="_blank">Pagina de login</a>
        </div>

        <div class="footer-col">
            <div class="icon-text">
                <h3>Entre em contato com a gente</h3>
            </div>
            <div class="midia-contato">
                <a href="https://www.facebook.com/AssociacaoCasaDoCaoEGatoAccg/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="/contato" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://www.instagram.com/casadocaoegato/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

        </div>

    </footer>
          

    
</body>
</html>