{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como ajudar</title>
    <link rel="icon" href="{% static '/img/logocaoegato.favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/helpp.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>

    <header>
        <a href="/">
            <img src="{%static '/img/logocaoegato.png'%}"/>
        </a>
    </header>

    <section id="help">
        <div class=" help container">
            <h1>Como ajudar</h1>
            <h3>Escolha uma forma de pagamento e ajude um pet a ser mais amado, contribuindo para seu bem-estar e felicidade!</h3>

            <div class="help-row">
                <div class="help-img">
                    <a href="#transferencia">
                        <div class="img-align">
                            <img src="{% static '/img/money-transfer.png' %}">
                        </div>
                        <button>Transferencia bancaria</button>
                    </a>
                </div>

                <div class="help-img">
                    <a href="#boleto">
                        <div class="img-align">
                            <img src="{% static '/img/gold-ticket.png' %}">
                        </div>
                        <button>Boleto Bancário</button>
                    </a>
                </div>

                <div class="help-img">
                    <a href="#credito">
                        <div class="img-align">
                            <img src="{% static '/img/credit-card.png' %}">
                        </div>
                            <button>Cartao de Credito</button>   
                    </a>  
                </div>

                <div class="help-img">
                    <a href="#produtos">
                        <div class="img-align">
                            <img src="{% static '/img/dairy-products.png' %}">
                        </div>
                        <button>Doação de produtos</button>
                    </a>
                </div>

                <div class="help-img">
                    <a href="#picpay">
                        <div class="img-align">
                            <img src="{% static '/img/qr-code.png' %}">
                        </div>
                        <button>PicPay</button>
                    </a>
                </div>

                
            </div>
        </div>
    </section>

    <section id="transferencia">
        <button class="scroll-top" onclick="backTop()">
            <i class="fas fa-arrow-up"></i>
        </button>
        <div class="container-sessao">
            <h1>Transferência Bancária</h1>
            <div class="info">

                <div class="bank-info">
                    <p> Para fazer uma transferência bancária, preencha as informações abaixo:</p>
                </div>
                <div class="bank-info">
                    <p><strong>Banco:</strong> PagSeguro Internet S.A.</p>
                    <p><strong>Agência:</strong> 0001</p>
                    <p><strong>C/c:</strong> 09434825-7</p>
                    <p><strong>CNPJ:</strong> 019566410001-87</p>
                </div>
                <div class="bank-info">
                    <p><strong>Banco:</strong> Banco do Brasil</p>
                    <p><strong>Agência:</strong> 2865-7</p>
                    <p><strong>C/c:</strong> 408283-4</p>
                    <p><strong>CNPJ:</strong> 019566410001-87</p>
                </div>
            </div>
        </div>
        
    </section>

    <section id="boleto">
        <div class="container-sessao">
            <h1>Boleto Bancário</h1>
            <div class="info">
                <div class="bank-info">
                    <p>Para fazer um pagamento por meio de boleto bancário, basta escolher qual o valor você quer doar e clicar no link correspondente.</p>
                    <p><strong>Ao abrir o link, preencha seus dados e clique em emitir boleto.</strong></p>
                </div>
                <div class="bank-info">
                    <p><b>Doe R$ 10,00 em:</b> <a href="https://link.pagar.me/lSy2ozbWOI" target="_blank"> https://link.pagar.me/lSy2ozbWOI</a></p>
                    <p><b>Doe R$ 20,00 em:</b> <a href="https://link.pagar.me/lSkz9eQZbOI" target="_blank"> https://link.pagar.me/lSkz9eQZbOI</a></p>
                    <p><b>Doe R$ 30,00 em:</b> <a href="https://link.pagar.me/lBkNCM7ZZuL" target="_blank"> https://link.pagar.me/lBkNCM7ZZuL</a></p>
                    <p><b>Doe R$ 40,00 em:</b> <a href="https://link.pagar.me/lBkZjBQZbuI" target="_blank"> https://link.pagar.me/lBkZjBQZbuI</a></p>
                    <p><b>Doe R$ 50,00 em:</b> <a href=" https://link.pagar.me/lB1l7O7ZWdL" target="_blank"> https://link.pagar.me/lB1l7O7ZWdL</a></p>
                    <p><b>Doe R$ 100,00 em:</b> <a href="https://link.pagar.me/lBkb1clteuU" target="_blank"> https://link.pagar.me/lBkb1clteuU</a></p>
                </div>
            </div>
        </div>
    </section>


    <section id="credito">
        <div class="container-sessao">
            <h1>Cartao de Credito</h1>
            <div class="info">
                <div class="bank-info">
                    <p>Para fazer um pagamento recorrente por meio de cartão de crédito, basta escolher qual o valor você quer doar e clicar no link correspondente.</p>
                </div>
                <div class="bank-info">
                    <p><b>Doe R$ 100,00 em:</b> <a href="http://pag.ae/7UtbnK-b6" target="_blank"> http://pag.ae/7UtbnK-b6</a></p>
                    <p><b>Doe R$ 50,00 em:</b> <a href="http://pag.ae/7Utbm5pnG" target="_blank"> http://pag.ae/7Utbm5pnG</a></p>
                    <p><b>Doe R$ 20,00 em:</b> <a href="http://pag.ae/7UtbjiwcR" target="_blank"> http://pag.ae/7UtbjiwcR</a></p>
                    <p><b>Doe R$ 10,00 em:</b> <a href="http://pag.ae/bfrtFKX" target="_blank"> http://pag.ae/bfrtFKX</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="produtos">
        <div class="container-sessao">
            <h1>Produtos</h1>
            <div class="info">

                <div class="bank-info">
                    <p><b>Recebemos nossas doações em diversos pontos de coleta como Hachiko Icaraí, Hachiko Ingá, Nova Kennel Icaraí e Maxi Pet no Plaza Shopping.</b></p>
                    <p><strong>Está uma lista dos produtos que são mais necessários à Casa do Cão e Gato:</strong></p>
                </div>
                <div class="bank-info">
                    <ul>
                        <li>Ração A/D da Roayl Canin e Recovery da Hills</li>
                        <li>Ração para gatos renais</li>
                        <li>Ração super premium para cadelas amamentando</li>
                        <li>Ração super premium para gatos felv+</li>
                        <li>Sabão em pó</li>
                        <li>Seringas (1 e 3ml)</li>
                        <li>Spray prata</li>
                        <li>Unguento veterinário</li>
                        <li>Vermífugos</li>
                    </ul>
                </div>
                <div class="bank-info">
                    <ul>
                        <li>Ração A/D da Roayl Canin e Recovery da Hills</li>
                        <li>Ração para gatos renais</li>
                        <li>Ração super premium para cadelas amamentando</li>
                        <li>Ração super premium para gatos felv+</li>
                        <li>Sabão em pó</li>
                        <li>Seringas (1 e 3ml)</li>
                        <li>Spray prata</li>
                        <li>Unguento veterinário</li>
                        <li>Vermífugos</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>

    <section id="picpay">
        <div class="container-sessao">
            <h1>PicPay</h1>
            <div class="info">
                <div class="bank-info">
                    <p> Para fazer um pagamento por meio do PicPay, basta abrir o seu aplicativo e escanear o QR Code abaixo:</p>
                </div>
                <div class="bank-info">
                    <div class="img-center">
                        <img src="{% static '/img/qr-code.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static '/js/help.js'%}"></script>
</body>
</html>