{% load static%}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Animal</title>
    <link rel="icon" href="{% static '/img/logocaoegato.favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/paginaAnimal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <header>
        <a href="/">
            <img src="{%static '/img/logocaoegato.png'%}"/>
        </a>
    </header>

    <section class="animal-info">
        <div class="container">
            <div class="animal">
                <div class="animal-photo">
                    <img src="{%static '/img/logocaoegato.png'%}"/>
                </div>
                <div class="animal-details">
                    <h1>{{ animal.nome }}</h1>
                    <p><strong>Espécie:</strong> {{ animal.tipo }}</p>
                    <p><strong>Gênero:</strong> {{ animal.sexo }}</p>
                    <p><strong>Idade:</strong> {{ animal.idade }}</p>
                    <p><strong>Porte:</strong> {{ animal.porte }}</p>
                    <p><strong>Descrição:</strong> {{ animal.descricao }}</p>
                    <a href="https://docs.google.com/forms/d/1WDZGsqSgaOLvSzZsZ4WeYPRNAycb7KmKq-4yEfPt_eE/viewform?edit_requested=true#response=ACYDBNglSQOa4y_YFKKrDcwUHbxfHw-igP0jo2VQVW8mS42ODJWqMKu5TOX6YiI7XddQkjU" target="_blank"><button class="button">Adotar</button></a>
                    <a href="{% url 'filtro' %}">Voltar para a lista</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <a href="#" class="logo"><img src="{% static 'img/logocaoegato.png' %}" alt="Logo"/></a>
        <div class=" footer-col-links">
            <a href="#">Quero adotar</a>
            <a href="/help">Como ajudar</a>
            <a href="#">Quero apadrinhar</a>
            <a href="/login/" target="_blank">Pagina de login</a>
        </div>

        <div class="footer-col">
            <div class="icon-text">
                <h3>Entre em contato com a gente</h3>
            </div>
            <div class="midia-contato">
                <a href="https://www.facebook.com/AssociacaoCasaDoCaoEGatoAccg/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="/contato" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://www.instagram.com/casadocaoegato/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

        </div>

    </footer>
</body>
</html>